.CourseList {
  width: 100%;
  max-width: 1400px;

  margin: 0 auto;

  padding: 40px 30px;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;

  align-items: start;

  box-sizing: border-box;
}